.orders {
  display: flex;
  .ordersContainer {
    flex: 6;
    .orderTable {
      background-color: transparent;
      padding: 16px;
      margin: 0%;
      //border: 6px;
    }
  }
}
.ant-table-cell ant-table-row-expand-icon-cell {
  width: 100%;
  background-color: red;
}
