.admin-table {
  .ant-table {
    height: calc(100% - 64px);
    margin-right: 4px;
  }

  .ant-table-content {
    height: auto;
    width: auto;
    margin: 0%;
    .table {
      width: 100%;
    }
  }
  .ant-spin-nested-loading > div > .ant-spin {
    max-height: none;
  }

  .ant-table-header {
    background-color: #f9fafb !important;
  }
  .ant-table-cell-fix-left,
  .ant-table-cell-fix-right {
    background: transparent;
  }

  .ant-table-row:nth-child(odd) {
    background-color: #f9fafb;
  }
  .ant-table-row:nth-child(even) {
    background-color: white;
  }
  .ant-table-tbody > tr > td {
    border: none;
  }
  th {
    padding: 0px !important;
    border: none !important;
    height: 44px;
    background-color: transparent !important;
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px;
    color: #6b7280 !important;
  }
  th::before {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid #073763;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #517392;
  }
}
